
<div>
    <div>
        <label>First Name</label>
        <input ng-model="customer.firstName">
    </div>
    <div>
        <label>Last Name</label>
        <input ng-model="customer.lastName">
    </div>
    <div>
        <label>clickCount</label>
        <input ng-model="clickCount" type="number">
    </div>

    isOk: {{ isOk() }}<br>
    clickCount: {{clickCount}}
    <button type="button" ng-click="callbackFn({ $event:  customer.firstName+' '+customer.lastName })">OnClick!</button>
    
</div>