<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script type="importmap">
    { "imports": {
        "vue"     : "https://cdn.jsdelivr.net/npm/vue@3.4.15/dist/vue.esm-browser.js"
    } }
  </script>
  <style>
    .ng-box::before, [ng-vue]::before {
        display: block;
        font-size: 200%;
        font-weight: bold;
    }
    
    .ng-box::before  {
        content: 'AngularJs';
    }

    [ng-vue]::before  {
        content: 'Vue';
    }

    .ng-box  {
        border:solid 3px red;
    }
    [ng-vue]  {
        border:solid 3px green;
    }

    .ng-box, [ng-vue] {
        padding: 5px; 
        margin: 5px;
    }
</style>

</head>
  <body >
    <div>
        <div ng-controller="MyNgController">
            <h1>Vue into AngularJS (Current Vue version: {{vueVersion}})</h1>

                <div class="ng-box">

                    <input ng-model="ngMessage"> {{ngMessage}}

                    <test-trigger ng-vue :message="ngMessage" @alert="alert($event)"></test-trigger>

                    <test-input  ng-vue v-model="ngMessage"></test-input>

                    <test-input ng-vue v-model="vBindValues.message"></test-input>

                    {{vBindValues.message}}

                    <table width="100%">
                        <tr>
                            <td> 
                                <test-v-bind ng-vue ng-vue-debug v-bind="vBindValues"></test-v-bind>
                            </td>
                            <td>
                                <div class="ng-box">
                                <pre>{{vBindValues|json}}</pre>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table width="100%">
                        <tr>
                            <td> 
                                <test-inject ng-vue="{ setup: myInjectSetupFunction }"></test-inject>
                            <td>
                                <test-inject ng-vue="{ setup: myInjectSetupFunction2 }"></test-inject>
                            </td>
                        </tr>
                    </table>


                    <test-router ng-vue v-model:click-count="vBindValues.clickCount"></test-router>

                    

                </div>
        </div>
    </div>


    <script type="module">

        import { version as vueVersion, reactive, provide } from 'vue'    
        import { 
            pluginRegistry,
            compomentRegistry,
            createNgVue,
            createAuth,
            createRouter,
            createRoute, 
            NgVueDirective 
        }     from '../dist/esm/index.js'     

        import safeApply  from '../../src/libs/safe-apply.js';
        import testTrigger from './components/trigger.js';
        import testInput   from './components/input.js';
        import testVBind   from './components/v-bind.js';
        import testRouter  from './components/router.js';
        import testInject  from './components/inject.js';

        const ngApp = angular.module("app",['ngRoute'])

        ngApp.directive('ngVue',  NgVueDirective)

        ngApp.config(["$routeProvider", "$locationProvider", function ($routeProvider, $locationProvider) {
            $routeProvider.when('/', {});
            $routeProvider.when('/updated', {});
            $routeProvider.when('/updated/:count', {});
        }]);

        ngApp.run(['$injector', ($injector) => {

            const ngVue = createNgVue({ $injector, ngApp });

            pluginRegistry
                .use(ngVue)
                .use(createAuth({ }))
                .use(createRouter({ plugins: { ngVue } }))
                .use(createRoute( { plugins: { ngVue } }));

            compomentRegistry
                .component('testInput',   testInput)
                .component('testTrigger', testTrigger)
                .component('testVBind',   testVBind)
                .component('testRouter',  testRouter)
                .component('testInject',  testInject)
        }]);
       
        
        ngApp.controller('MyNgController', function($scope){

            //$scope.components = { testVue3, testInput };
            
            $scope.vueVersion = vueVersion;

            $scope.ngContacts = [{
                firstName: 'stephane',
                lastName: 'bilodeau'
            },{
                firstName: 'blaise',
                lastName: 'fonseca'
            }]

            $scope.vBindValues = reactive({ 
                vueVersion: vueVersion,
                message: "Message in v-bind",
                clickCount: 0,
                aPropValue: "should be display",
                aNonPropValue: 'should not be display'
            });

            $scope.ngMessage = "Test";

            $scope.reset = function() {
                $scope.ngMessage = "Hello!";
            };

            $scope.alert = function(msg) {
                alert(`${msg}`);
            }

            $scope.myInjectSetupFunction = function() {
                provide('testInject', "My injected value");
                provide('testCallback', (msg)=>{
                    console.log(msg);
                    return safeApply($scope, ()=>{ 
                        $scope.ngMessage = msg 
                        return `>>>${msg}<<<`;
                    });
                });
            }

            $scope.myInjectSetupFunction2 = function() {
                provide('testInject', { 
                    "this" : "is", 
                    "my" : "injected", 
                    "object" :"!" 
                });
            }


            $scope.reset();
        });


        angular.bootstrap(document, [ngApp.name]);    

    </script>
  </body>
</html>