<!doctype html>
<html  ng-app="app" >
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
    <script src="../dist/angular-vue.js"></script>
</head>
  <body >
    <div>
        <div ng-controller="MyNgController">
            <h1>AngularJS</h1>
            <div ng-repeat="c in contacts">
                <label>firstName:</label>
                <input type="text" ng-model="c.firstName" placeholder="Enter a name here">
                <br>
                <label>lastName:</label>
                <input type="text" ng-model="c.lastName" placeholder="Enter a name here"><br>
                <button ng-click="reset()">Reset from angular</button>
            </div>
            <label>scope value</label>
            <input type="text" ng-model="myValue" placeholder="Enter a name here"><br>
            <pre>{{contacts|json}}</pre>
            <hr>
            <h1>Vuejs</h1>
            <div ng-repeat="c in contacts">
                <full-name vue :first-name.sync="c.firstName" :last-name="c.lastName" @alert="alert"></full-name>
            </div>

            <div vue vue-expose="contacts,myValue">
                    <greeting :contact="contacts[2]"></greeting>
                    <button>{{myValue}}</button>
            </div>
            
            <button vue vue-expose="contacts" @click="reset()" > Reset {{contacts[1].firstName}}</button>
            <em vue vue-expose="myValue" > myValue: {{myValue}}</em>

            <pre vue vue-expose="contacts" >{{contacts}}</pre>

           
            <hr>
        </div>
    </div>

    <script>
        var FullName = Vue.extend({
            props: [
                'firstName',
                'lastName'
            ],
            computed: {
                fn: { get() { return this.firstName}, set(v) { this.$emit("update:firstName", v) }  },
                ln: { get() { return this.lastName }, set(v) { this.$emit("update:lastName", v) }  }
            },
            template: `<div> 
                <label>firstName:</label> <input v-model="fn"> {{fn}}<br>
                <label>firstName:</label> <input v-model="ln"> {{ln}}<br>
                <button @click="$emit('alert', firstName + ' ' + lastName)">Message me</button> </div>`
        })

        Vue.component("greeting", {
            props: [
                'contact',
            ],
            template: `<b> Hello {{contact.firstName}} {{contact.lastName}}!!<b>`
        })

        var app = angular.module("app",["angularVue"])

        app.controller('MyNgController', function($scope){
            $scope.$vueComponents = {
                fullName : FullName
            }

            $scope.myValue = "";
     
            $scope.contacts = []

            $scope.reset = function() {
                console.log("reset");
                $scope.contacts = [{
                    firstName : "Stephane",
                    lastName  : "Bilodeau"
                },{
                    firstName : "Blaise",
                    lastName  : "Fonseca"
                },{
                    firstName : "Randy",
                    lastName  : "Houlahan"
                }]
            }
            $scope.alert = function(msg) {
                alert(`Hello ${msg}`);
            }

            $scope.reset();
        });

    </script>
  </body>
</html>